
* {
  margin: 0;
  padding: 0;
}



.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
}





@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#tasks-list::-webkit-scrollbar {
  display: none;
}
